{% load mptt_tags %}
<ul class="comments">
    {% recursetree comments %}
        <li class="thread">
            <div class="node-body">
                    <div class="comment-buttons-user">
                        <div class="comment-user-data">
                            <p><a href="{% url 'profile' node.user.pk %}"><b>{{ node.user.name }}</b></a></p>
                            {% if node.user.is_staff %}
                                <div class="admin-sign">admin</div>
                            {% endif %}
                            {% if node.user == post.user %}
                                <div class="author-sign">author</div>
                            {% endif %}
                        </div>
                        <div class="buttons">
                            {% if request.user.pk == node.user.pk %}
                                <a class="comment-button" href="{% url 'edit_comment' node.pk %}"><button class="dark-button">&#9998;</button></a>
                                <a class="comment-button" href="{% url 'delete_comment' node.pk %}"><button class="dark-button">&#10006;</button></a>
                            {% endif %}
                        </div>
                    </div>
                {{ node.body }}
                <div class="like-dislike-buttons-wrap">
                    <div></div>
                    <div class="like-button">
                        {% if request.user in node.likers.all %}
                            <a href="{% url 'like_comment' node.pk %}"><img src="/media/icons/thumbs_up_green.png" alt="like"></a>&nbsp;
                            <p class="like-count">{{node.likers.count}}&nbsp;</p>
                        {% else %}
                            <a href="{% url 'like_comment' node.pk %}"><img src="/media/icons/thumbs_up_dark.png" alt="like"></a>&nbsp;
                            <p>{{node.likers.count}}&nbsp</p>
                        {% endif %}
                        {% if request.user in node.dislikers.all %}
                            <a href="{% url 'dislike_comment' node.pk %}"><img src="/media/icons/thumbs_down-red.png" alt="dislike"></a>
                            <p class="dislike-count">&nbsp;{{node.dislikers.count}}</p>
                        {% else %}
                            <a href="{% url 'dislike_comment' node.pk %}"><img src="/media/icons/thumbs_down_dark.png" alt="dislike"></a>
                            <p>&nbsp;{{node.dislikers.count}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="posted-date">
                    {% if post %}
                        <button data-id="{{ node.id }}" class="reply-button">&#8645;</button>
                    {% elif image %}
                        <button data-id="{{ node.id }}" class="image-reply-button">&#8645;</button>
                    {% endif %}
                    <p>{{ node.date_posted | timesince }} ago.</p>
                </div>
                {% if post %}
                <div style="display: none;" id="replycomment-{{ node.id }}">
                    <form class="reply-form" method="post" action="{% url 'reply_form' post.pk node.id %}">
                        <button class="dark-button" type="submit">Reply</button>
                        {% csrf_token %}
                            <input type="hidden" name="parent_id" id="parent_id" value="{{ node.id }}" />
                        {% block extrahead %}
                        {{ form.media }}
                        {% endblock %}
                        {{ form.body }}
                    </form>
                </div>
                {% elif image %}
                <div style="display: none;" id="image-replycomment-{{ node.id }}">
                    <form class="reply-form" method="post" action="{% url 'reply_form_picture' image.pk node.id %}">
                        <button class="dark-button" type="submit">Reply</button>
                        {% csrf_token %}
                            <input type="hidden" name="parent_id" value="{{ node.id }}" />
                        {{ form.body }}
                    </form>
                </div>
                {% endif %}
            </div>

            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>