{% extends "base.html" %}
{% block content %}
    {% if current_user.pk == user.pk %}
        <form class="main-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% block extrahead %}
            {{ form.media }}
            {% endblock %}
            {{ form.as_p }}
            <button class="dark-button" type="submit">Save</button>
        </form>
        <br>
        <a href="{% url 'change_password' %}"><button class="dark-button">Change Password</button></a>
        <a href="{% url 'logout' %}"><button class="dark-button">Logout</button></a>
    {% else %}
        <p>You can only edit your own profile</p>
    {% endif %}
{% endblock %}
