{% extends "base.html" %}
{% block content %}
<br>
{% if images %}
    <div class="images-wrap">
    {% for image in images %}
        <div class="image-item">
            <a href="{% url 'image_detail' image.pk %}"><img width="300" height="auto" src="{{ image.image.url }}" alt="connect"></a>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>There is no images in this album yet.</p>
{% endif %}
<br>
{% if request.user == photoalbum.user %}
<form class="main-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% block extrahead %}
    {{ form.media }}
    {% endblock %}

    {{ form.as_p }}
    <button class="dark-button" type="submit">Add</button>
</form>
{% endif %}
{% endblock %}