{% extends "base.html" %}
{% block content %}
<form method="get">
    <input class="search-input" id="q" name="q" type="text" placeholder="Search for groups...">
    <button class="dark-button search-button" type="submit">&#128269;</button>
</form>
<br>

{% if searched_groups %}
<div class="group-list">
    {% if searched_groups %}
    <h2>Search results: </h2>
    <br>
        {% for group in searched_groups %}
            <div class="group">
                <div class="group-avatar-name">
                    {% if group.image %}
                        <a href="{% url 'group_detail' group.id %}"><img height="50px" width="auto" src="{{ group.image }}" alt="connect"></a>
                    {% else %}
                        <a href="{% url 'group_detail' group.id %}"><img height="50px" width="auto" src="/media/group_avatars/group.png" alt="connect"></a>
                    {% endif %}
                    <a href="{% url 'group_detail' group.id %}">{{ group.title }}</a>
                </div>
                <div>
                    <p>{{ group.users|length }} participants.</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endif %}
<br>

<div class="group-list">
    <h2>Your groups:</h2>
    <br>

    {% for group in user_groups %}
        <div class="group">
            <div class="group-avatar-name">
                {% if group.image %}
                    <a href="{% url 'group_detail' group.pk %}"><img height="50px" width="auto" src="{{ group.image.url }}" alt="connect"></a>
                {% else %}
                    <a href="{% url 'group_detail' group.pk %}"><img height="50px" width="auto" src="/media/group_avatars/group.png" alt="connect"></a>
                {% endif %}
                <a href="{% url 'group_detail' group.pk %}">{{ group.title }}</a>
            </div>
            <div class="group-list-info">
                <p class="group-list-created-participants">Created: {{ group.date_created }}</p>
                <p class="group-list-created-participants">{{ group.users.count }} participants.</p>
            </div>
        </div>
    {% endfor %}
</div>
<br>

<p>Add new group:</p>
<form class="main-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% block extrahead %}
    {{ form.media }}
    {% endblock %}

    {{ form.as_p }}
    <br>
    <button class="dark-button" type="submit">Create Group</button>
</form>

{% endblock %}