{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="image-wrap">
    <img width="auto" height="auto" src="{{ image.image.url }}" alt="connect">
</div>

<br>
<div class="main-form image-description">
    <p>{{ image.description }}</p>
    <div>
        {% if request.user == image.album.user %}
        <a href="{% url 'edit_image' image.pk %}"><button class="dark-button">&#9998;</button></a>
        <a href="{% url 'delete_image' image.pk %}"><button class="dark-button">&#10006;</button></a>
        {% endif %}
    </div>
</div>
<br>

<div class="make-avatar-likes-wrap">
    {% if request.user == image.album.user and image != request.user.image %}
        <a href="{% url 'make_avatar' image.pk %}"><button class="dark-button">Make Avatar</button></a>
    {% endif %}

    <div class="like-button" style="width: 63px;">
        {% if request.user in image.likers.all %}
            <a href="{% url 'like_image' image.pk %}"><img src="{% static '/followerr/images/thumbs_up_green.png' %}" alt="like"></a>&nbsp;
            <p class="like-count">{{image.likers.count}}&nbsp;</p>
        {% else %}
            <a href="{% url 'like_image' image.pk %}"><img src="{% static '/followerr/images/thumbs_up_dark.png' %}" alt="like"></a>&nbsp;
            <p class="inactive-like">{{image.likers.count}}&nbsp;</p>
        {% endif %}

        {% if request.user in image.dislikers.all %}
            <a href="{% url 'dislike_image' image.pk %}"><img src="{% static '/followerr/images/thumbs_down-red.png' %}" alt="dislike"></a>
            <p class="dislike-count">&nbsp;{{image.dislikers.count}}</p>
        {% else %}
            <a href="{% url 'dislike_image' image.pk %}"><img src="{% static '/followerr/images/thumbs_down_dark.png' %}" alt="dislike"></a>
            <p class="inactive-like">&nbsp;{{image.dislikers.count}}</p>
        {% endif %}
    </div>
</div>


<div class="main-form">
    <form method="post">
        {% csrf_token %}

        {% block extrahead %}
        {{ form.media }}
        {% endblock %}

        {{ form.as_p }}
        <button class="dark-button edit-comment-button" type="submit">Post a Comment</button>
    </form>
</div>

{% include "_comments.html" %}

{% endblock %}