{% load mptt_tags %}
<ul class="comments">
    {% recursetree comments %}
        <li class="thread">
            <div class="node-body">
                    <div style="margin-bottom: 5px;" class="comment-buttons-user">
                        <div class="comment-user-data">
                            <p><a href="{% url 'profile' node.user.pk %}"><b>{{ node.user.name }}</b></a></p>
                            {% if node.user.is_staff %}
                                <div class="admin-sign">admin</div>
                            {% endif %}
                            {% if node.user == post.user %}
                                <div class="author-sign">author</div>
                            {% endif %}
                        </div>
                        <div class="buttons">
                            {% if request.user.pk == node.user.pk %}
                                <a style="height: 50%;" href="{% url 'edit_comment' node.pk %}"><button class="dark-button">&#9998;</button></a>
                                <a style="height: 50%;" href="{% url 'delete_comment' node.pk %}"><button class="dark-button">&#10006;</button></a>
                            {% endif %}
                        </div>
                    </div>
                {{ node.body }}
                <div class="like-dislike-buttons-wrap" style="justify-content: space-between;">
                    <div></div>
                    <div class="like-dislike-buttons">
                        {% if request.user in node.likers.all %}
                            <p style="color: green;">{{node.likers.count}}&nbsp</p>
                            <a href="{% url 'like_comment' node.pk %}"><img src="/media/icons/thumbs_up_green.png" alt="like"></a>&nbsp;
                        {% else %}
                            <p>{{node.likers.count}}&nbsp</p>
                            <a href="{% url 'like_comment' node.pk %}"><img src="/media/icons/thumbs_up_dark.png" alt="like"></a>&nbsp;
                        {% endif %}
                        {% if request.user in node.dislikers.all %}
                            <p style="color: #F47846;">{{node.dislikers.count}}&nbsp</p>
                            <a href="{% url 'dislike_comment' node.pk %}"><img src="/media/icons/thumbs_down-red.png" alt="dislike"></a>
                        {% else %}
                            <p>{{node.dislikers.count}}&nbsp</p>
                            <a href="{% url 'dislike_comment' node.pk %}"><img src="/media/icons/thumbs_down_dark.png" alt="dislike"></a>
                        {% endif %}
                    </div>
                </div>
                <div class="posted-date">
                    {% if post %}
                        <a style="color: #404040; font-weight: bold;" href="{% url 'reply_form' post.pk node.id %}">Reply</a>
                    {% elif image %}
                        <a style="color: #404040; font-weight: bold;" href="{% url 'reply_form_picture' image.pk node.id %}">Reply</a>
                    {% endif %}
                    <p>{{ node.date_posted | timesince }} ago.</p>
                </div>
            </div>

            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>