<div class="post">
    <div class="post-user-info">
        <div style="display: flex;">
            <div>
                <div class="post-user-avatar">
                    {% if post.user %}
                        {% if post.user.image %}
                            <a href="{% url 'profile' post.user.pk %}"><img width="50px" height="auto" src="{{ post.user.image.image.url }}" alt="connect" ></a>
                        {% else %}
                            {% if user.gender %}
                                <a href="{% url 'profile' post.user.pk %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-male.jpg"></a>
                            {% else %}
                                <a href="{% url 'profile' post.user.pk %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-female.jpg"></a>
                            {% endif %}
                        {% endif %}
                        {% if post.user in online_users %}
                            <div class="online-mini" style="margin-bottom: -47px;"></div>
                        {% endif %}
                    {% elif post.group %}
                        {% if post.group.image %}
                            <a href="{% url 'group_detail' post.group.pk %}"><img width="50px" height="auto" src="{{ post.group.image.url}}" alt="connect" ></a>
                        {% else %}
                            <a href="{% url 'group_detail' post.group.pk %}"><img height="50px" width="auto" src="/media/group_avatars/group.png"></a>
                        {% endif %}
                    {% endif %}
                </div>
                {% if post.user %}
                    <p><a href="{% url 'profile' post.user.pk %}"><b>{{ post.user.name }}</b></a></p>
                {% endif %}
                <br>
            </div>
            {% if post.group %}
                <p style="margin-left: 10px; margin-top: 10px;"><a href="{% url 'group_detail' post.group.pk %}"><b>{{ post.group.title }}</b></a></p>
            {% endif %}
            {% if post.user %}
                {% if post.user.is_staff %}
                    <div class="admin-sign">admin</div>
                {% endif %}
            {% endif %}
        </div>
        <div class="buttons">
            {% if request.user.pk == post.user.pk or request.user in post.group.owners.all %}
                <a href="{% url 'edit_post' post.pk %}"><button class="dark-button">&#9998;</button></a>
                <a href="{% url 'delete_post' post.pk %}"><button class="dark-button">&#10006;</button></a>
            {% endif %}
        </div>
    </div>

    <hr>
    <br>

    <div class="post-body">
        <div class="post-text">{{ post.body }}</div>
        <br>
        {% if post.image %}
            <div class="post-image"><img onclick="window.open(this.src)" src="{{ post.image.url }}" alt="connect"></div>
        {% endif %}
    </div>

    <div style="margin-bottom: 5px;" class="post-comment-and-like-buttons">
        <div class="comment-button">
            <a href="{% url 'post_detail' post.pk %}"><button class="dark-button">
                View
                {% if post.comments.count == 1 %}
                    {{ post.comments.count }} comment
                {% elif post.comments.count == 0 %}
                {% else %}
                    {{ post.comments.count }} comments
                {% endif %}
            </button></a>
        </div>
        <div class="like-button">
            {% if request.user in post.likers.all %}
                <a href="{% url 'like_post' post.pk %}"><img src="/media/icons/thumbs_up_green.png" alt="like"></a>&nbsp;
                <p style="color: green;">{{post.likers.count}}&nbsp;</p>
            {% else %}
                <a href="{% url 'like_post' post.pk %}"><img src="/media/icons/thumbs_up_dark.png" alt="like"></a>&nbsp;
                <p>{{post.likers.count}}&nbsp;</p>
            {% endif %}

            {% if request.user in post.dislikers.all %}
                <a href="{% url 'dislike_post' post.pk %}"><img src="/media/icons/thumbs_down-red.png" alt="dislike"></a>
                <p style="color: #F47846;">&nbsp;{{post.dislikers.count}}</p>
            {% else %}
                <a href="{% url 'dislike_post' post.pk %}"><img src="/media/icons/thumbs_down_dark.png" alt="dislike"></a>
                <p>&nbsp;{{post.dislikers.count}}</p>
            {% endif %}
        </div>

    </div>

    <div class="posted-date">
        {{ post.date_posted }}
    </div>
</div>
