<div class="post">
    <div class="post-user-info">
        <div style="display: flex; align-items: center; margin-bottom: 5px;">
            <div>
                {% if post.user %}
                    <p><a href="{% url 'profile' post.user.id %}"><b>{{ post.user.name }}</b></a></p>
                {% endif %}
            </div>

            {% if post.user %}
                {% if post.user.is_staff %}
                    <div class="admin-sign">admin</div>
                {% endif %}
            {% endif %}

            {% if post.group %}
                <a href="{% url 'group_detail' post.group.id %}"><b>{{ post.group.title }}</b></a>
            {% endif %}
        </div>
    </div>

    <br>

    <div class="post-body">
        <div class="post-text">{{ post.body }}</div>
        <br>
    </div>

    <div style="margin-bottom: 5px;" class="post-comment-and-like-buttons">
        <div style="width: 100%;" class="comment-button">
            <a style="width: 100%;" href="{% url 'post_detail' post.id %}"><button style="width: 100%;" class="dark-button">
                View
            </button></a>
        </div>
    </div>

</div>
