<div class="post">
    <div class="post-user-info">
        <div style="display: flex;">
            <div>
                <div class="post-user-avatar">
                    {% if post.user %}
                        {% if post.user.image %}
                            <a href="{% url 'profile' post.user.id %}"><img width="50px" height="auto" src="{{ post.user.image.image }}" alt="connect" ></a>
                        {% else %}
                            {% if user.gender %}
                                <a href="{% url 'profile' post.user.id %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-male.jpg"></a>
                            {% else %}
                                <a href="{% url 'profile' post.user.id %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-female.jpg"></a>
                            {% endif %}
                        {% endif %}
                        {% if post.user in online_users %}
                            <div class="online-mini" style="margin-bottom: -47px;"></div>
                        {% endif %}
                    {% elif post.group %}
                        {% if post.group.image %}
                            <a href="{% url 'group_detail' post.group.id %}"><img width="50px" height="auto" src="{{ post.group.image }}" alt="connect" ></a>
                        {% else %}
                            <a href="{% url 'group_detail' post.group.id %}"><img height="50px" width="auto" src="/media/group_avatars/group.png"></a>
                        {% endif %}
                    {% endif %}
                </div>
                {% if post.user %}
                    <p><a href="{% url 'profile' post.user.id %}"><b>{{ post.user.name }}</b></a></p>
                {% endif %}
                <br>
            </div>
            {% if post.group %}
                <p style="margin-left: 10px; margin-top: 10px;"><a href="{% url 'group_detail' post.group.id %}"><b>{{ post.group.title }}</b></a></p>
            {% endif %}
            {% if post.user %}
                {% if post.user.is_staff %}
                    <div class="admin-sign">admin</div>
                {% endif %}
            {% endif %}
        </div>
        <div class="buttons">
            {% if request.user.id == post.user.id or request.user in post.group.owners.all %}
                <a href="{% url 'edit_post' post.id %}"><button class="dark-button">&#9998;</button></a>
                <a href="{% url 'delete_post' post.id %}"><button class="dark-button">&#10006;</button></a>
            {% endif %}
        </div>
    </div>

    <hr>
    <br>

    <div class="post-body">
        <div class="post-text">{{ post.body }}</div>
        <br>
        {% if post.image %}
            <div class="post-image"><img onclick="window.open(this.src)" src="{{ post.image }}" alt="connect"></div>
        {% endif %}
    </div>

    <div style="margin-bottom: 5px;" class="post-comment-and-like-buttons">
        <a href="{% url 'post_detail' post.id %}"><button class="dark-button">View</button></a>
        <div class="like-button">
            <img src="/media/icons/thumbs_up_green.png" alt="like">
            <p style="color: green;">{{post.likers|length}}&nbsp;</p>

            <img src="/media/icons/thumbs_down-red.png" alt="dislike">
            <p>&nbsp;{{post.dislikers|length}}</p>
        </div>
    </div>

    <div class="posted-date">
        {{ post.date_posted }}
    </div>
</div>