<div class="message-avatar-body">
    <div class="message-content">
        <div class="message-wrap">
            <div class="message-avatar">
                {% if message.from_user.image %}
                    <a href="{% url 'profile' message.from_user.id %}"><img width="50px" height="auto" src="{{ message.from_user.image.image }}" alt="connect" ></a>
                {% else %}
                    {% if message.from_user.gender %}
                        <a href="{% url 'profile' message.from_user.id %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-male.jpg"></a>
                    {% else %}
                        <a href="{% url 'profile' message.from_user.id %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-female.jpg"></a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'profile' message.from_user.id %}"><b>{{ message.from_user.name }}</b></a>
                <p>to</p>
                <a href="{% url 'profile' message.to_user.id %}"><b>{{ message.to_user.name }}</b></a>
            </div>
            <div style="display: flex;">
                <p class="message-date">{{ message.created_at }}</p>
                <a class="message-delete-button" href="{% url 'delete_private_message' message.id %}">&#10006;</a>
            </div>
        </div>
    </div>

    <div class="message-body">
        {{ message.body }}
    </div>

    <div>
        <div class="message-image">
            {% if message.image %}
                <img src="{{ message.image.url }}" alt="msg-image">
            {% endif %}
        </div>
    </div>

    <a href="{% url 'private_messages' message.to_user.id %}"><button class="dark-button">View Chat</button></a>
</div>