<div class="post-user-avatar" style="margin-top: 10px;">
    {% if user %}
        {% if user.image %}
            <a href="{% url 'profile' user.id %}"><img width="50px" height="auto" src="{{ user.image.image }}" alt="connect" ></a>
        {% else %}
            {% if user.gender %}
                <a href="{% url 'profile' user.id %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-male.jpg"></a>
            {% else %}
                <a href="{% url 'profile' user.id %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-female.jpg"></a>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if user %}
        {% if user.is_staff %}
            <div class="admin-sign" style="width: 40px;">admin</div>
        {% endif %}
    {% endif %}
</div>
<p><a href="{% url 'profile' user.id %}"><b>{{ user.name }}</b></a></p>

