{% load static %}
<html>
<head>
    <title>Followerr</title>
    <link rel="stylesheet" type="text/css" href="{% static 'followerr_backend/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'followerr_backend/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'followerr_backend/user_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'followerr_backend/post.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'followerr_backend/comment.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'followerr_backend/messages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'followerr_backend/groups.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'followerr_backend/photoalbums.css' %}">
</head>
<body>
    <div class="navbar">
        <ul class="navbar-ul">
            {% if user.is_authenticated %}
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile' request.user.pk %}">Profile</a></li>
                <li><a href="{% url 'messages' %}">Messages</a></li>
                <li><a href="{% url 'groups' %}">Groups</a></li>
                <li><a href="{% url 'photoalbums' request.user.pk %}">Photoalbums</a></li>
                <li><a href="{% url 'search_users' %}">Search users</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="content-wrap">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <div class="footer-items">
            <p>&copy; 2020 All rights reserved </p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static 'followerr_backend/scripts.js' %}"></script>

</body>
</html>