{% extends "base.html" %}
{% block content %}

{% if user in chat.users.all %}
{% for user in users %}
    {% if user != request.user %}
        <div class="message-avatar-body">
            <div class="message-content">
                <div class="message-avatar">
                    {% if user.image %}
                        <a href="{% url 'profile' user.pk %}"><img width="50px" height="auto" src="{{ user.image.image.url }}" alt="connect" ></a>
                    {% else %}
                        {% if message.from_user.gender %}
                            <a href="{% url 'profile' user.pk %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-male.jpg"></a>
                        {% else %}
                            <a href="{% url 'profile' user.pk %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-female.jpg"></a>
                        {% endif %}
                    {% endif %}
                    {{ user.name }}
                </div>
                {% if request.user == chat.owner %}
                    <a href="{% url 'remove_user_from_chat' chat.pk user.pk %}"><button class="dark-button">Remove</button></a>
                {% endif %}
            </div>
        </div>
        <br>
    {% endif %}
{% endfor %}
{% else %}
<p>You can only view users from your own chats</p>
{% endif %}
<a href="{% url 'chat' chat.pk %}">Back</a>

{% endblock %}