{% extends "base.html" %}
{% block content %}

<div class="group-discussion-label">
    <div class="label-author-title">
        <div style="display: flex; justify-content: space-between; width: 100%; background-color: #404040; color: white !important;">
            <p>Discussion by: {{ discussion.author }}</p>
            <a style="color: white; text-decoration: none;" href="{% url 'remove_discussion' discussion.pk %}">&#10006;</a>
        </div>
        <h3>{{ discussion.title}}</h3>
    </div>
    <div class="label-description">
        <p>{{ discussion.description}}</p>
    </div>
</div>
<br>
{% for message in messages %}
    <div class="message-avatar-body">
        <div class="message-content">
            <div style="display: flex; align-items: center; gap: 10px;">
                {% if message.from_user.avatar %}
                    <a href="{% url 'profile' message.from_user.pk %}"><img width="50px" height="auto" src="{{ message.from_user.avatar.picture.url}}" alt="connect" ></a>
                {% else %}
                    {% if message.from_user.gender %}
                        <a href="{% url 'profile' message.from_user.pk %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-male.jpg"></a>
                    {% else %}
                        <a href="{% url 'profile' message.from_user.pk %}"><img height="auto" width="50px" src="/media/avatars/default-avatar-female.jpg"></a>
                    {% endif %}
                {% endif %}

                {% if message.from_user in online_users %}
                    <div style="margin-top: -33px; margin-right: -2px;" class="online-mini"></div>
                {% else %}
                {% endif %}
            </div>

            <div style="display: flex;">
                <p style="opacity: 0.6;">{{ message.created_at }}</p>
                {% if request.user == message.from_user or request.user == discussion.author %}
                    <a style="text-decoration: none; margin: 0 10px; font-weight: bold; text-shadow: none; opacity: 0.8;" href="{% url 'delete_message' message.pk %}">&#10006;</a>
                {% endif %}
            </div>
        </div>

        <div class="message-body">
            {{ message.body }}
        </div>

        <div>
            <div class="message-image">
                {% if message.image %}
                    <img src="{{ message.image.url }}" alt="msg-image">
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

<form class="main-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% block extrahead %}
    {{ form.media }}
    {% endblock %}

    {{ form.as_p }}
    <button style="margin: 20px 0 20px 0;" class="dark-button" type="submit">Send</button>
</form>

{% endblock %}