{% extends "base.html" %}
{% block content %}
<a href="{% url 'search_groups' %}">Search Groups</a>
<br>
<div class="group-list" style="margin-bottom: 30px; text-align: center;">
    <h2 style="margin-bottom: 10px;">Your groups</h2>
    <hr>
    <br>
    {% for group in user_groups %}
        <div class="group">
            <div class="group-avatar-name">
                {% if group.image %}
                    <a href="{% url 'group_detail' group.pk %}"><img height="50px" width="auto" src="{{ group.image.url }}" alt="connect"></a>
                {% else %}
                    <a href="{% url 'group_detail' group.pk %}"><img height="50px" width="auto" src="/media/group_avatars/group.png" alt="connect"></a>
                {% endif %}
                <a href="{% url 'group_detail' group.pk %}">{{ group.title }}</a>
            </div>
            <div style="text-align: right;">
                <p>created: {{ group.date_created }}</p>
                <p>{{ group.users.count }} participants.</p>
            </div>
        </div>
    <br>
    {% endfor %}
</div>

<p style="margin-bottom: 10px; text-align: right;">Add new group:</p>
<form class="main-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% block extrahead %}
    {{ form.media }}
    {% endblock %}

    {{ form.as_p }}
    <br>
    <button class="dark-button" type="submit">Create Group</button>
</form>

{% endblock %}