{% extends "base.html" %}
{% block content %}

    <form class="main-form" method="post" enctype="multipart/form-data">
        <div class="main-post-form-image-wrap">
            {% if request.user.avatar %}
                <a href="{% url 'profile' request.user.pk %}"><img height="70px" width="auto" src="{{ request.user.avatar.picture.url}}" alt="connect" ></a>
            {% else %}
                {% if user.gender %}
                    <a href="{% url 'profile' request.user.pk %}"><img height="70px" width="auto" src="/media/avatars/default-avatar-male.jpg"></a>
                {% else %}
                    <a href="{% url 'profile' request.user.pk %}"><img height="70px" width="auto" src="/media/avatars/default-avatar-female.jpg"></a>
                {% endif %}
            {% endif %}
            <h2>Welcome back, {{user.name}}.</h2>
        </div>
        {% csrf_token %}

        {% block extrahead %}
        {{ form.media }}
        {% endblock %}

        {{ form.as_p }}
        <br>
        <button class="dark-button" type="submit">Send</button>
    </form>
    <div class="posts">
        {% for post in page_obj %}
            {% include "_post.html" %}
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&larr; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &rarr;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
