{% extends "base.html" %}
{% block content %}

<form class="main-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="dark-button new-chat-button" type="submit">Create new Chat</button>
</form>
<br>


<div class="main-form">
    <a href="{% url 'search_chats' %}"><button class="dark-button">Search chats &#128269;</button></a>
    <br>
    {% for chat in chats %}
        {% if not chat.is_private %}
        <br>
        <div class="messages-item-wrap">
            <div class="messages-item">
                <div class="messages-item-image">

                    <div class="chat-image">
                        {% if chat.image %}
                            <a href="{% url 'chat' chat.pk %}"><img height="50px" width="auto" src="{{ chat.image.url }}" alt="chat"></a>
                        {% else %}
                            <a href="{% url 'chat' chat.pk %}"><img height="50px" width="auto" src="/media/group_avatars/group.png" alt="chat"></a>
                        {% endif %}
                    </div>

                    <div class="chat-title-last-message">
                        <a href="{% url 'chat' chat.pk %}">{{ chat.title }}</a><br>
                        <div class="chat-last-message">
                            {% if chat.last_message %}
                            <a href="{% url 'chat' chat.pk %}"><img height="25" width="auto" src="{{ chat.last_message.from_user.image.image.url }}"></a>
                                {% if chat.last_message.is_read %}
                                    <p class="read-in-preview"><a href="{% url 'chat' chat.pk %}">{{ chat.last_message.body }}</a></p>
                                {% else %}
                                    <p class="unread-in-preview"><a href="{% url 'chat' chat.pk %}">{{ chat.last_message.body }}</a></p>
                                {% endif %}
                            {% elif chat.chat_messages.all|length == 0 %}
                            <a href="{% url 'chat' chat.pk %}"><p>no messages yet</p></a>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="unread-wrap">
                    <p>
                        {% if chat.users.count == 1 %}
                            1 user
                        {% else %}
                            {{ chat.users.count }} users
                        {% endif %}
                    </p>
                    <p class="unread">{{ chat.unread_count }}</p>
                </div>

            </div>
        </div>
        {% else %}
        <br>
        <div class="messages-item-wrap">
            <div class="messages-item">
                <div class="messages-item-image">
                    {% for user in chat.users.all %}
                        {% if user != request.user %}
                            <a href="{% url 'chat' chat.pk %}"><img height="50px" width="auto" src="{{ user.image.image.url }}" alt="chat"></a>
                        {% endif %}
                    {% endfor %}
                    <div class="messages-user-name">
                        {% for user in chat.users.all %}
                            {% if user != request.user %}
                                <a href="{% url 'chat' chat.pk %}">{{ user.name }}</a><br>
                            {% endif %}
                        {% endfor %}
                        <div class="last-message">
                            {% if chat.last_message %}
                                <a href="{% url 'chat' chat.pk %}"><img height="25" width="auto" src="{{ chat.last_message.from_user.image.image.url }}"></a>
                                {% if chat.last_message.is_read %}
                                    <p class="read-in-preview"><a href="{% url 'chat' chat.pk %}">{{ chat.last_message.body }}</a></p>
                                {% else %}
                                    <p class="unread-in-preview"><a href="{% url 'chat' chat.pk %}">{{ chat.last_message.body }}</a></p>
                                {% endif %}
                            {% elif chat.chat_messages.all|length == 0 %}
                            <a href="{% url 'chat' chat.pk %}"><p>no messages yet</p></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="unread-wrap">
                    <p class="unread">{{ chat.unread_count }}</p>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}