.signup-gender {
    height: 30px;
    margin: 10px 0;
}

.signup-email {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 10px 0;
}

.signup-name {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 10px 0;
}

.signup-password {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 10px 0;
}

input[type=text]{
    width: 100%;
}

input[type=password]{
    width: 100%;
}

.login-signup-wrap {
    width: 50%;
    margin: 0 auto;
}

.signup-forgot-pass-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.errorlist {
    color: #FC2222 !important;
    list-style: none;
    padding: 5px;
    border: 3px solid #FC2222;
    border-radius: 5px;
    background-color: #FDBBBB;
}