.group-title-input {
    width: 100%;
    margin-bottom: 5px;
}

.group-description-input {
    width: 100%;
    margin-bottom: 5px;
}

.group-avatar-input, .discussion-title, .discussion-description, .new-chat-form, .message-body, .message-form {
    width: 100%;
    margin-bottom: 5px;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group a {
    text-decoration: none;
}

.group a:hover {
    text-decoration: underline;
}

.search-group {
    margin-bottom: 10px;
}

.group-avatar-name {
    display: flex;
    align-items: center;
    gap: 5px;
}

.group-avatar-name img {
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.group-info-wrap {
    display: flex;
    gap: 30px;
}

.group-title-description {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    gap: 10px;
}

.group-avatar-wrap {
    flex-basis: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-avatar-wrap img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

.group-avatar {
    padding-right: 4px;
}

.group-participant {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 3px;
}

.group-participants-list {
    padding: 10px 0;
}

.group-participant img {
    height: 30px;
    width: auto;
    border-radius: 5px;
}

.group-participants a {
    text-decoration: none;
}

.group-participants a:hover {
    text-decoration: underline;
}

.group-participants {
}

.group-discussions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.group-discussion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-discussions a {
    text-decoration: none;
}

.group-discussions a:hover {
    text-decoration: underline;
}

.list-discussion-title {
    text-decoration: none;
}

.list-discussion-author {
    text-decoration: none;
}

.group-discussion-label {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.label-author-title a{
    padding: 5px;
}

.label-author-title p, h3 {
    background-color: #404040;
    color: white !important;
    padding: 5px;
}

.discussion-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #404040;
    color: white !important;
    border-radius: 10px 10px 0 0;
}

.discussion-label p {
    border-radius: 10px;
}

.remove-discussion-button {
    color: white;
    text-decoration: none;
}

.label-description {
    padding: 5px;
}

.group-user-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-user-list-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-user-list-user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.group-user-list-user-info img{
    border-radius: 5px;
}

.group-user-list-user-info a {
    text-decoration: none;
}

.group-user-list-user-info a:hover {
    text-decoration: underline;
}

.message-button {
    margin: 15px 0 0 0;
}

.group-list-info {
    text-align: right;
}

.group-list-created-participants {
    font-size: 13px;
    color: grey;
}