* {
    margin: 0;
    padding: 0;
    color: #3F3F3F;
    text-shadow: 0px 1px 2px rgba(64, 64, 64, 0.3);
    font-family: sans-serif;
}

.upload {
    opacity: 1;
}

body {
    background-color: #FCFCFC !important;
}

.navbar {
    height: 50px;
    background-color: #5F9BE3;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navbar-ul a {
    text-decoration: none;
    color: white;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    align-items: center;
}

.active {
    color: #5F9BE3;
}

.nav-logo {
    flex-basis: 20%;
    margin-right: auto;
}

.nav-search {
    display: flex;
    flex-basis: 60%;

}

.nav-settings {
    flex-basis: 3%;
    margin-right: 10px;
}

.nav-settings a {
    float: right;
}

.main-search-form {
    width: 100%;
    margin: 0 auto;
}

.main-search-input {
    width: calc(100% - 45px) !important ;
}

.main-search-button {
    width: 40px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    position: absolute;
    width: 15%;
    position: fixed;

}

.sidebar-ul {
    list-style: none;
    min-width: 170px !important;
}

.sidebar li {
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar li a:hover {
    color: #5F9BE3;
    transition: 0.3s ease-out;
}

.sidebar li a {
    transition: 0.3s ease-out;
}

.sidebar a {
    text-decoration: none;
    font-weight: bold;
}

.home-icon {
    background-image: url('./images/home.png');
    width: 24px;
    height: 24px;
}

.profile-icon {
    background-image: url('./images/profile.png');
    width: 24px;
    height: 24px;
}
.messages-icon {
    background-image: url('./images/messages.png');
    width: 24px;
    height: 24px;
}
.friends-icon {
    background-image: url('./images/friends.png');
    width: 24px;
    height: 24px;
}
.groups-icon {
    background-image: url('./images/groups.png');
    width: 24px;
    height: 24px;
}
.photoalbums-icon {
    background-image: url('./images/photoalbums.png');
    width: 24px;
    height: 24px;
}
.search-icon {
    background-image: url('./images/search.png');
    width: 24px;
    height: 24px;
}

.content-wrap {
    width: 50%;
    min-height: 100%;
    margin: 0 auto;
    padding: 80px 0 0 0;
}

.main-form, .group-list, .group-title, .group-description, .group-avatar, .group-participants, .group-buttons, .join-requests,
.group-user-list, .group-discussions, .group-discussion, .group-discussion-label, .album-wrap, .main-container {
    border: 1px solid white;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-post-form-image-wrap {
    height: 70px;
    width: auto;
    padding: 5px 15px 15px 5px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-post-form-image-wrap img {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.main-post-form img {
    border: 1px solid white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.post-body-input {
    width: 100%;
    min-height: 70px;
    height: 70px;
    margin-bottom: 5px;
    padding-right: 20px;
}

.post-image-input {
    margin-top: 5px;
    width: 100%;
}

.dark-button {
    padding: 5px;
    background-color: white;
    border: 3px solid #5F9BE3;
    border-radius: 5px;
    color: #0060B0;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-out;
}

.dark-button:hover {
    background-color: #D8EAFF;
    transition: 0.3s ease-out;
}

.send-button {
    width: 60px;
}

.dep-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dep-button {
    position: absolute;
    margin-right: 30px !important;
}

@media (max-width: 767px) {
    .dep-container {
        position: relative;
        display: flex;
    }

    .dep-button {
        display: flex !important;
    }
}

.footer {
    margin-top: 30px;
    height: 70px;
    background-color: #404040;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-items {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.footer p{
    color: white;
    font-weight: bold;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.pagination a {
    font-size: 15px;
    color: red;
    text-decoration: none;
}

.search-input {
    width: calc(100% - 44px) !important;
}

.search-button {
    width: 40px;
}

.search-user-avatar {
}

.search-user-admin-sign {
    width: 44px;
}

.create-discussion-button {
    margin: 10px 0 0 0;
}

.change-password-save-button {
}

.login-button {
    margin: 10px 0;
}

.search-user-name {
    text-decoration: none;
}

