.chat-title {
    text-align: center;
    margin-bottom: 10px;
}

.chat-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
}

.messages-item-wrap {
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.messages-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    padding-right: 10px;
}

.unread-wrap {
    flex-basis: 8%;
    text-align: center;
}

.messages-item img {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    border-radius: 25px;
}

.messages-item a {
    text-decoration: none;
}

.messages-item a:hover {
    text-decoration: underline;
}

.private-messages-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.private-messages-online {
    margin-top: 5px;
}

.private-messages-item img {
    border-radius: 25px;
    height: 50px;
    width: auto;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.private-messages-item a {
    text-decoration: none;
}

.private-messages-item a:hover {
    text-decoration: underline;
}

.new-chat-form input[type=text] {
    width: 100%;
    margin-bottom: 5px;
}

.message-avatar-body {
    width: 100%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.not-read-message-avatar-body {
    background-color: #D5D5D5;
    width: 100%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.message-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.message-avatar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.message-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.message-content img {
    height: 50px;
    width: auto;
}

.online-messages {
    margin-top: -40px;
    margin-left: 3px;
}

.message-image {
    text-align: center;
    margin-bottom: 10px;
}

.message-image img {
    text-align: center;
    width: 100%;
    height: auto;
}

.date-button-wrap {
    display: flex;
}

.message-body-input {
    width: 100%;
    height: 55px;
    margin-bottom: 5px;
    border-radius: 10px;
    outline: none;
}

.message-body-not-read {
    width: 100%;
    background-color: grey !important;
}

.message-date {
    width: 140px;
    opacity: 0.6;
    font-size: 13px;
    text-align: center;
}

.message-delete-button {
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    text-shadow: none;
    opacity: 0.8;
}

.message-image-input {
    width: 100%;
    margin-bottom: 5px;
}

.add-people-to-chat-form {
    list-style: none;
    margin-bottom: 5px;
    margin-top: 5px;
}

.private-messages-heading {
    display: flex;
    align-items: center;
}

.private-messages-heading h1 {
    font-size: 30px;
    font-family: "Courier New", Courier, monospace;
    color: #FA4337;
}

.new-chat-button {
    margin-top: 20px;
}

.messages-item-image {
    display: flex; align-items:
    center; gap: 10px;
    flex-basis: 85%;
}

.edit-chat-button {
    margin-top: 20px;
}

.chat-user-list-user {
    margin-right: 5px;
}

.offline-chat-msg {
    font-size: 13px;
}

.unread {
    background-color: grey;
    color: white;
    border-radius: 25px;
    border: 1px solid lightgrey;
    padding: 2px;
    text-align: center;
}

.unread-in-preview {
    background-color: #D5D5D5;
    text-align: left;
    border-radius: 0;
    width: calc(100% - 10px);
}

.read-in-preview {
    color: #404040; border-radius: 0;
    border: none;
    background-color: white;
    text-align: left;
    width: calc(100% - 10px);
}

.chat-image {
    display: flex;
    gap: 5px;
}

.last-message {
    display: flex;
    gap: 3px;
    margin-top: 5px;
    align-items: center;
}

.chat-last-message {
    display: flex;
    gap: 3px;
    align-items: center;
}

.chat-title-last-message {
    display: flex;
    flex-direction: column;
    width: calc(100% - 70px);
    gap: 5px;
}

.messages-user-name {
    width: 100%;
}
