.comment {
    border: 1px solid white;
    width: 50%;
    margin-top: 5px !important;
    padding: 5px;
}

.comment-buttons-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-text {
    line-height: 20px;
}

.comment-user-data {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comment-user-data a {
    text-decoration: none;
    padding-bottom: 3px;
}

.comment-user-data a:hover {
    text-decoration: none;
    border-bottom: 1px solid grey;
    padding-bottom: 2px;
}


.comment-body-input {
    width: 100%;
    margin-bottom: 5px;
    height: 80px;
}

.comment-image-input {
    width: 100%;
    margin-bottom: 5px;
}

.comment-image {
    width: 300px;
    height: auto;
    margin: 10px auto;
    border-left: 40px solid #D5D5D5;
    border-right: 40px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
    text-align: center;
}

.comment-image img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.like-and-posted {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posted-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posted-date a {
    padding-bottom: 3px;
    text-decoration: none;
}

.posted-date a:hover {
    border-bottom: 1px solid grey;
    padding-bottom: 2px;
    text-decoration: none;
}

.children {
    margin-left: 20px;
}

.comments {
    list-style: none;
    margin-top: 30px;
}

.thread {
    margin-top: 20px;
}

.comments ul {
    list-style: none;
    border-left: 1px solid lightgrey;
    padding-left: 20px;
}

.node-body {
    border: 1px solid white;
    padding: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

.reply-form {
    width: 100%;
    border: 1px solid #404040;
    background-color: white;
    padding: 5px;
}

.reply-form .comment-body-input {
    height: 50px;
}

.reply-form button {
    margin-bottom: 0px;
}